* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  width: 100%;
  position: fixed;
  box-shadow: 2px 1px 2px #eee;
  z-index: 10;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 68px;
  max-width: 1100px;
  background-color: #fff;
}

.left-head img {
  margin-top: 24px;
  height: 17.5px;
  width: 130px;
}
.right-header {
  display: flex;

  align-items: center;
}
.fa-solid {
  font-size: larger;
  padding: 20px;
  cursor: pointer;
}
.main-menu {
  position: relative;
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: end;
}
.right-header a {
  box-sizing: border-box;
  font-weight: 500;
  color: #666;
  font-size: 15px;
  padding: 20px;
  text-decoration: none;
}
.right-header a:hover {
  color: #387ed1;
}

.menu {
  width: 700px;
  background-color: #eee;
}
.top {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.down {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #fafafb;
}

.down-cont a {
  font-size: 14.4px;
  color: #666666;
  margin: 0 0 5px;
  text-decoration: none;
}
.varsity {
  display: flex;
}
.varsity-img {
  margin: 10px 40px 0 10px;
}
.trading {
  margin-top: 12px;
}
.hding {
  margin: 16px 0 18px;
  font-size: 16px;
  color: #424242;
  font-weight: 500;
}

.ul-list li {
  list-style: none;
  line-height: 1.8;
  font-size: 14.4px;
}
.ul-list li a:hover {
  color: #387ed1;
}
.varsity-trad {
  color: #666666;
  font-size: 14.4px;
  margin-top: 23px;
}
.varsity-trad1 {
  color: #666666;
  font-size: 14.4px;
  margin-top: 26px;
}
.varsity p:hover {
  color: #387ed1;
}

.img-down-cont {
  font-size: 12px;
  color: #9b9b9b;
  text-align: center;
}
.img-tag {
  font-size: 14.4px;
  color: #666666;
  text-align: center;
}

.main-container {
  position: relative;
  max-width: 1100px;
  box-sizing: border-box;
  margin: auto;
}
#image {
  display: flex;
  justify-content: center;
  padding: 150px 0 0;
}
#image img {
  max-height: 45vh;
}
.content {
  text-align: center;
}

.content h1 {
  color: #424242;
  margin-top: 60px;
  font-size: 44px;
  font-weight: 500;
}
.content p {
  color: #424242;
  margin-top: 20px;
  font-size: 20px;
}

.signup-button {
  position: relative;
  background-color: #387ed1;
  color: white;
  height: 44px;
  width: 204px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  margin: 40px 0 0 0;
}

.main-2 {
  position: relative;
  max-width: 1100px;
  box-sizing: border-box;
  margin: auto;
}
.main-container-2 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 175px;
}
.content-left {
  max-width: 433px;
  padding-right: 20px;
}
.content-left h2 {
  font-size: 32px;
  color: #424242;
  margin: 0 0 40px;
  font-weight: 500;
}
.content-left p {
  font-weight: 400px;
  color: #666666;
  font: 16px;
  margin: 5px 0 32px;
  line-height: 1.8;
}

.content-left h3 {
  font-weight: 500;
  color: #424242;
  font-size: 20px;
}

.content-right {
  max-width: 632px;
  /* margin: 0 100px 15px 0; */
}
.content-right img {
  max-width: 100%;
  margin-left: 0px;
  overflow-clip-margin: center-box;
  overflow: clip;
  /* margin: 0 0 0 40px; */
}

.content-right p {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px;
  align-items: end;
}
.content-right p a {
  text-decoration: none;
  color: #387ed1;
}
.content-right p a i {
  margin-left: 0;
  padding: 0;
  position: relative;
  top: 2px;
}
.content-right p a:hover {
  color: #444;
}

.press {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.price {
  display: flex;
  position: relative;
  width: 1100px;
  margin: auto;
}
.price-left {
  width: 433px;
}
.price-left a {
  text-decoration: none;
  color: #387ed1;
  font-size: 16px;
}
.price-left a i {
  margin-left: 0;
  padding: 0;
  position: relative;
  top: 2px;
}
.price-left a:hover {
  color: #444;
}
.price h2 {
  font-size: 32px;
  color: #424242;
  margin: 80px 0 20px 0;
  font-weight: 500;
}
.price-right {
  display: flex;
  margin-top: 80px;
}
.price p {
  margin: 16px 0 15px;
  font-size: 16px;
  line-height: 1.8;
  color: #666666;
}
.zero {
  display: flex;
  align-items: center;
  width: 184px;
}

.zero-mid {
  display: flex;
  align-items: center;
  width: 237px;
}
.zero-mid p {
  position: relative;
  line-height: 16px;
  margin: 0;
  color: #424242;
  font-size: 10px;
}
.zero-mid img {
  width: 120px;
}
.zero p {
  position: relative;
  line-height: 16px;
  margin: 0;
  color: #424242;
  font-size: 10px;
  left: -15px;
}
.zero img {
  font-size: 10px;
  width: 120px;
}
.container-3 {
  position: relative;
  width: 1100px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
}
.content-3 {
  display: flex;
}
.cont-left {
  margin-left: 70px;
}
.cont-left h2 {
  font-size: 32px;
  font-weight: 500;
  color: #424242;
  margin: 10px 0 20px;
}
.cont-left p {
  font-size: 16px;
  color: #424242;
  margin: 5px 0;
  line-height: 1.8;
}
.cont-left a {
  color: #387ed1;
  font-size: 16px;
  text-decoration: none;
}
.cont-left a:hover {
  color: #444;
}
.cont-left a i {
  padding-left: 0;
  position: relative;
  top: 2px;
}
.end-sec {
  position: relative;
  width: 1100px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.signup-end {
  text-align: center;
}
.signup-end h2 {
  margin: 0 0 36px;
  font-size: 32px;
  font-weight: 500;
  color: #424242;
}
.signup-end p {
  font-size: 16px;
  color: #666666;
}
.footer {
  height: 808px;
  background-color: #fbfbfb;
  padding: 30px 0 5px;
}
.main-footer {
  position: relative;
  width: 1100px;
  margin: auto;
}

.footer-cont {
  display: flex;
}
.footer-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-cont > div {
  margin: 0;
  padding: 0;
  flex: 1; /* Optional: Adjust space occupied by each child */
}

.zerodha img {
  width: 153px;
  margin: 15px 0;
}

.zerodha p {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 10px;
}
.social {
  display: flex;

  list-style: none;
}

.social i {
  padding: 10px 24px 2px 0px;
  font-size: 19px;
  color: #424242;
}

/* .company {
  color: #424242;
  line-height: 1.8;
} */
.head {
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
/* .company ul li {
  list-style: none;
} */
/* .support {
  color: #424242;
  line-height: 1.8;
} */

.list li {
  color: #424242;
  line-height: 1.8;
  list-style: none;
  margin: 10px 0;
}
.list li:hover {
  color: #387ed1;
}
.list li i:hover {
  color: #387ed1;
}
/* .account {
  color: #424242;
  line-height: 1.8;
}
.account ul li {
  list-style: none;
} */
.footer-cont-mini {
  position: relative;
  width: 1100px;
  margin: auto;
  margin-top: 60px;
}

.footer-cont-mini p {
  font-size: 11px;
  color: #9b9b9b;
  margin: 0 0 10px;
  line-height: 1.8;
}
.footer-cont-mini a {
  font-size: 11px;
  color: #387ed1;
  margin: 0 0 10px;
  text-decoration: none;
}
.tag {
  display: flex;
  justify-content: space-between;
  margin: 25px 110px;
}

.tag a {
  color: #9b9b9b;
  font: 12px;
}
